{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}

<form action="{% url 'sendpost' %}" method="POST">
    {% csrf_token %}
    <div class="sendPostDiv">
        <input type="text" name="post" class="form-control" autocomplete="off" placeholder="Bugün İnfina'da neler oldu?"/>
        <div class="btn-group">
            <a data-toggle="dropdown" href="#">
                <i class="fas fa-tag"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <ul class="dropdown-multiselect">
                        <li class="list-group-item"><input type="checkbox" name="usertagged" value="0">Hepsi</li>
                    {% for u in users %}
                        <li class="list-group-item"><input type="checkbox" name="usertagged" value="{{u.pk}}">{{u.name}} {{u.surname}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <button type="submit"> <i class="fas fa-feather-alt" style="margin-top:4px;margin-left:-1px;"></i> </button>
    </div>
</form>

<div class="postsDiv">

    {% for p in posts %}

        <div class="postDiv">
            <img src="/{{p.post.user.photo}}"> 
            <div class="postContentDiv">
                <div class="postContentInfo">
                    <div class="postContentName">
                        {{p.post.user.name}} {{p.post.user.surname}}
                    </div>
                    <div class="postContentDateTime">
                        {{p.creationdatetimestr}}
                    </div> 
                </div>
                <div>
                    {% if p.post.connected != None %}
                        <a href="{% url 'post' p.post.connected.pk %}" style="text-decoration: underline;"> #{{ p.post.connected.pk }} </a>
                    {% endif %}
                    {{p.post.content}}
                </div>
                <div class="postActionsDiv">
                    <button class="postActionButton" style="color:{{p.likebuttoncolor}};cursor: pointer;" onclick="upvote('{% url 'upvotepost' p.post.pk %}', this)">
                        <i class="far fa-thumbs-up">{{p.upvotecount}}</i>
                    </button>
                    <i class="far fa-comment-dots"> {{p.commentcount}} </i>
                    <i class="fas fa-tag">{{p.taggedusercount}}</i>
                    <a href="{% url 'post' p.post.pk %}"><i class="fas fa-walking"></i></a>
                </div>
            </div>

        </div>

    {% endfor %}

</div>

<div class="paginationDiv">
    <a href="{% url 'index1' prevP %}">Önceki</a>
    <i class="fas fa-circle"></i>
    <a href="{% url 'index1' nextP %}">Sonraki</a>
</div>

{% endblock %}


{% block script %}
<script>
function upvote(url, element) {
    if ($(element).css("color") === "rgb(0, 0, 0)" ) {
        $(element).css("color", "var(--cred)");
        $($(element).find("i")[0]).text( Number($($(element).find("i")[0]).text())+1);
    } else {
        $(element).css("color", "black");
        $($(element).find("i")[0]).text( Number($($(element).find("i")[0]).text())-1);
    }
    $.get(url);
}
</script>
{% endblock %}