{% extends 'base2.html' %}

{% block style %}
<style>
    .btn-primary {
        max-width: 300px;
        width:100%;
        display:block;
        margin: 50px auto;
    }

    .btn-primary, .btn-primary:hover, .btn-primary:active {
        background-color: var(--cred);
        border-color: var(--cred);
    }
</style>
{% endblock %}

{% block content %}

<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Şifre</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Giriş</button>
</form>

<div style="width:100%; display:flex; justify-content: space-between">
    <a href="{% url 'signup' %}">Üye olmak istiyorum.</a>
    <a href="{% url 'forgotpassword' %}">Şifremi unuttum.</a>
</div>

{% endblock %}