{% extends 'base.html' %}

{% block style %}

<style>
    .sendPostDiv {
        display: flex;
        justify-content: center;
    }

    .sendPostDiv>input {
        max-width: 700px;
        border-radius: 20px;
        padding-right: 35px;
    }

    .sendPostDiv>button {
        border-color: var(--cred);
        border-radius: 50%;
        background-color: var(--cred);
        color: white;
        margin-left: -35px;
        margin-top: 4px;
        width: 30px;
        height: 30px;
    }

    .postsDiv {
        margin-top: 50px;
    }

    .postDiv {
        min-height: 70px;
        margin: 0px auto;
        max-width: 600px;
        display: flex;
        padding: 10px;
        box-shadow: 0px 0px 5px gray;
        margin-bottom: 5px;
    }

    .postDiv > img {
        height: 50px;
        border-radius: 50%;
        border: 1px solid black;
        margin-right: 5px;
    }

    .postContentDiv {
        display: flex;
        flex-direction: column;
        width:100%;
        height: 100%;
        padding: 0px 10px;
    }

    .postContentInfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .postContentName {
        font-weight: bold;
        margin-right: 5px;
    }

    .postContentDateTime {
        font-size: 12px;
    }

    .postActionsDiv {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        position: relative;
        right: 5px;
        bottom: -10px;
    }

    .postActionsDiv > a > i{
        margin: 0px 5px;
        font-size: 15px;
    }

    .postActionButton {
        border : 0px;
        background: transparent;
    }

    .postActionButton:focus {
        outline: 0;
    }
</style>

{% endblock %}

{% block content %}

<div class="postsDiv">
    <div class="postDiv">
        <img src="/{{p.post.user.photo}}">
        <div class="postContentDiv">
            <div class="postContentInfo">
                <div class="postContentName">
                    {{p.post.user.name}} {{p.post.user.surname}}
                </div>
                <div class="postContentDateTime">
                    {{p.creationdatetimestr}}
                </div>
            </div>
            <div>
                {% if p.post.connected != None %}
                    <a href="{% url 'post' p.post.connected.pk %}"> #{{ p.post.connected.pk }}  </a>
                {% endif %}
                {{p.post.content}}
            </div>
            <div class="postActionsDiv">
                <button class="postActionButton" style="color:{{p.likebuttoncolor}};" onclick="upvote('{% url 'upvotepost' p.post.pk %}', this)">
                    <i class="far fa-thumbs-up">{{p.upvotecount}}</i>
                </button>
                <button class="postActionButton" style="font-size: 13px;" data-toggle="dropdown">
                    <i class="fas fa-angle-down"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    {% for u in p.upvotes %}
                        <div> {{u.user.name}} {{u.user.surname}} </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin: 5px auto; max-width: 600px; font-weight: bold;">Cevaplar</div>

<div class="postsDiv" style="margin-bottom: 20px; margin-top: 10px;">
    {% for p in comments %}

        <div class="postDiv">
            <img src="/{{p.post.user.photo}}"> 
            <div class="postContentDiv">
                <div class="postContentInfo">
                    <div class="postContentName">
                        {{p.post.user.name}} {{p.post.user.surname}}
                    </div>
                    <div class="postContentDateTime">
                        {{p.creationdatetimestr}}
                    </div> 
                </div>
                <div>
                    {{p.post.content}}
                </div>
                <div class="postActionsDiv">
                    <button class="postActionButton" style="color:{{p.likebuttoncolor}};" onclick="upvote('{% url 'upvotepost' p.post.pk %}', this)">
                        <i class="far fa-thumbs-up">{{p.upvotecount}}</i>
                    </button>
                    <a href="{% url 'post' p.post.pk %}">
                        <i class="far fa-comment-dots"> {{p.commentcount}} </i>
                    </a>
                    <a href="{% url 'post' p.post.pk %}"><i class="far fa-eye"></i></a>
                </div>
            </div>

        </div>

    {% endfor %}
</div>

<form action="{% url 'sendpost' %}" method="POST">
    {% csrf_token %}
    <div class="sendPostDiv">
        <input type="hidden" name="connected" value="{{p.post.pk}}">
        <input type="text" name="post" class="form-control" autocomplete="off" placeholder="Cevapla..." />
        <button type="submit"> <i class="fas fa-feather-alt" style="margin-top:4px;margin-left:-1px;"></i> </button>
    </div>
</form>

{% endblock %}


{% block script %}
<script>
    function upvote(url, element) {
        if ($(element).css("color") === "rgb(0, 0, 0)" ) {
            $(element).css("color", "var(--cred)");
            $($(element).find("i")[0]).text( Number($($(element).find("i")[0]).text())+1);
        } else {
            $(element).css("color", "black");
            $($(element).find("i")[0]).text( Number($($(element).find("i")[0]).text())-1);
        }
        $.get(url);
    }
</script>
{% endblock %}