{% extends 'base.html' %}
{% load static %}
{% block style %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}

<div class="postsDiv">
    <div class="postDiv">
        <img src="/{{p.post.user.photo}}">
        <div class="postContentDiv">
            <div class="postContentInfo">
                <div class="postContentName">
                    {{p.post.user.name}} {{p.post.user.surname}}
                </div>
                <div class="postContentDateTime">
                    {{p.creationdatetimestr}}
                </div>
            </div>
            <div>
                {% if p.post.connected != None %}
                    <a href="{% url 'post' p.post.connected.pk %}" style="text-decoration: underline;"> #{{ p.post.connected.pk }}  </a>
                {% endif %}
                {{p.post.content}}
            </div>
            <div class="postActionsDiv">
                <button class="postActionButton" style="color:{{p.likebuttoncolor}};" onclick="upvote('{% url 'upvotepost' p.post.pk %}', this)">
                    <i class="far fa-thumbs-up"></i>
                </button>
                <div>
                    <button class="postActionButton" style="font-size: 13px;cursor: pointer;" data-toggle="dropdown" id="upvotes">
                            {{p.upvotecount}} beğenenler...
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="upvotes">
                        {% for u in p.upvotes %}
                            <div> {{u.user.name}} {{u.user.surname}} </div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <button class="postActionButton" style="font-size: 13px;cursor: pointer;" data-toggle="dropdown" id="taggeds">
                        {{p.taggedusercount}} etiketlenenler...
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="taggeds">
                        {% for u in p.taggedusers %}
                            <div> {{u.user.name}} {{u.user.surname}} </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin: 5px auto; max-width: 600px; font-weight: bold;">Cevaplar</div>

<div class="postsDiv" style="margin-bottom: 20px; margin-top: 10px;">
    {% for p in comments %}

        <div class="postDiv">
            <img src="/{{p.post.user.photo}}"> 
            <div class="postContentDiv">
                <div class="postContentInfo">
                    <div class="postContentName">
                        {{p.post.user.name}} {{p.post.user.surname}}
                    </div>
                    <div class="postContentDateTime">
                        {{p.creationdatetimestr}}
                    </div> 
                </div>
                <div>
                    {{p.post.content}}
                </div>
                <div class="postActionsDiv">
                    <button class="postActionButton" style="color:{{p.likebuttoncolor}};cursor: pointer;" onclick="upvote('{% url 'upvotepost' p.post.pk %}', this)">
                        <i class="far fa-thumbs-up">{{p.upvotecount}}</i>
                    </button>
                    <i class="far fa-comment-dots"> {{p.commentcount}} </i>
                    <i class="fas fa-tag">{{p.taggedusercount}}</i>
                    <a href="{% url 'post' p.post.pk %}"><i class="fas fa-walking"></i></a>
                </div>
            </div>

        </div>

    {% endfor %}
</div>

<form action="{% url 'sendpost' %}" method="POST">
    {% csrf_token %}
    <div class="sendPostDiv">
            <input type="hidden" name="connected" value="{{p.post.pk}}">
            <input type="text" name="post" class="form-control" autocomplete="off" placeholder="Cevapla..." />
        <div class="btn-group">
            <a data-toggle="dropdown" href="#">
                <i class="fas fa-tag"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <ul class="dropdown-multiselect">
                        <li class="list-group-item"><input type="checkbox" name="usertagged" value="0">Hepsi</li>
                    {% for u in users %}
                        <li class="list-group-item"><input type="checkbox" name="usertagged" value="{{u.pk}}">{{u.name}} {{u.surname}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <button type="submit"> <i class="fas fa-feather-alt" style="margin-top:4px;margin-left:-1px;"></i> </button>
    </div>
</form>

{% endblock %}


{% block script %}
<script>
    function upvote(url, element) {
        if ($(element).css("color") === "rgb(0, 0, 0)" ) {
            $(element).css("color", "var(--cred)");
        } else {
            $(element).css("color", "black");
        }
        $.get(url);
    }
</script>
{% endblock %}